# PyCharm IDE files
**/.idea/

# Python bytecode-compiled cache files
**/__pycache__/

# Output files
**/*.jpg
**/*.txt
**/*.png

# Except equations files for Gauss elimination
!zad2/equations/**
